.last-sec-div1 {
  padding: 30px;
  background-color: white;
}
.last-sec-div1 > p {
  color: grey;
}
.style__f14___1FE-V {
  background-color: white;
  padding: 24px 0;
  margin: 0;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.style__flex-box____V1Y1 {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
}
.style__stats-num___3Ns_4 {
  font-size: 32px;
  font-weight: 700;
}
.style__border-btm___1wdot {
  height: 1px;
  border: 1px solid #eaeaea;
  z-index: 9999;
  width: 90%;
  margin: 24px auto;
  left: 5%;
  background-color: #eaeaea;
}
.style__down-bar___3FV6g {
  padding-bottom: 24px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  display: flex;
  border-bottom: 2px 0 4px 0 rgb(0 0 0 / 12%);
}
.style__f20___2opYM {
  font-size: 20px;
}
.style__input-box___7akGm {
  border-radius: 2px;
  border: none;
  display: inline-block;
  box-sizing: border-box;
}
form {
  display: inline;
}
.style__input-phone___2P9PU {
  height: 40px;
  width: 300px;
  border: none;
  background-color: #f1f4f6;
  padding-left: 15px;
  vertical-align: middle;
  color: #000;
  outline: none;
  margin-left: 10px;
}
.style__next-button___3J4Nx {
  border-radius: 4px;
  background-color: #ff6f61;
  width: 112px;
  height: 40px;
  margin-left: 8px;
  border: none;
  vertical-align: middle;
  color: #fff;
}
.style__main-link-bar___12igi {
  text-align: left;
  justify-content: space-around;
  padding: 44px 17px;
}
.style__main-content___2sd49 {
  font-size: 16px;
  margin: 27px 0 16px;
}
.style__main-link-bar___12igi ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.style__main-link-bar___12igi ul li a span {
  line-height: 1.81;
  font-size: 12px;
  color: #666;
}
.style__s-head___367TK {
  font-size: 14px;
  color: #666;
  display: inline-block;
  padding-bottom: 5px;
}
.style__m-web___2xu0C {
  display: flex;
}
.style__m-web___2xu0C > a > div > img {
  width: 30px;
  margin-left: 5px;
}
.style__signup-btn___2h_dH {
  width: 97px;
  height: 40px;
  border-radius: 4px;
  background-color: #ff6f61;
  font-weight: 700;
  border: none;
  vertical-align: middle;
  color: #fff;
}
.style__auth-bar___bYPU8 {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  width: fit-content;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 26px 56px;
}
.style__auth-cont___2vf7G {
  display: flex;
  flex: 0 1 33%;
  justify-content: center;
}
.reliable {
  background: url(https://res.cloudinary.com/du8msdgbj/image/upload/v1571132631/secure-rebrand_x6f8yq.svg)
    no-repeat;
  width: 98px;
  height: 98px;
}
.style__auth-cont___2vf7G h5 {
  margin: 0;
  font-size: 26px;
  margin-bottom: 8px;
}
.style__auth-cont___2vf7G p {
  margin: 0;
  opacity: 0.7;
  max-width: 250px;
}
.secure {
  background: url(https://res.cloudinary.com/du8msdgbj/image/upload/v1571132500/reliable-rebrand_rcpof3.svg)
    no-repeat;
  width: 98px;
  height: 98px;
}
.affordable {
  background: url(https://res.cloudinary.com/du8msdgbj/image/upload/v1571131870/affordable-rebrand_ivgidq.svg)
    no-repeat;
  width: 98px;
  height: 98px;
}
.style__trust-stamps____4BQl {
  margin: 0 auto;
  max-width: 43%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  transform: scale(0.8);
}
.style__free-text3___3upNE {
  font-size: 16px;
  padding-bottom: 30px;
  font-weight: 700;
  text-align: center;
}
.style__collapse___1sCdv {
  text-align: left;
  color: #666;
  border-top: 2px solid rgba(222, 226, 228, 0.21);
  border-bottom: 2px solid rgba(222, 226, 228, 0.21);
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}
.style__collapse___1sCdv > span {
  width: 10px;
  display: flex;
  align-items: center;
}

.style__b-text___uV-wn {
  display: flex;
  justify-content: space-between;
  padding: 12px 30px 10px;
  font-weight: 700;
}
.style__copyright___qclAW {
  color: #536971;
  opacity: 0.6;
  margin: 12px;
  text-align: center;
  font-size: 14px;
}
.payment {
  background: url(https://res.cloudinary.com/du8msdgbj/image/sprite/v1555479675/footer_desktop_v2_1x.png)
    no-repeat;
  background-position: 0 -260px;
  width: 153px;
  height: 47px;
}
.style__f20___2opYM {
  margin-top: 20px;
}

/* careplane page css */

.ulid-1202340-34 {
  padding: 0 10px;
  margin: 0;
  align-items: flex-start;
}
.ulid-1202340-34 > li {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.style__content-list___1E_dQ {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  text-align: center;
}

.style__f-row___337rD {
  flex-direction: row;
  display: flex;
}

.style__wrapper___1EvBD {
  position: relative;
  background: #eeeffb;
}
.style__slider-wrapper___1Gk2- {
  width: 650px;
  overflow: hidden;
  background: #eeeffb;
  margin: 0 auto;
}
.style__slider___zukST {
  width: 5000px;
  padding: 0;
  margin: 0;
}
.style__slider-item___FdN0p {
  float: left;
  position: relative;
  color: #000;
  background: #eeeffb;
  text-align: center;
  transition: all 0.2s linear;
  list-style: none;
  padding: 20px 24px 80px;
  left: 0px;
  width: 650px;
}

.style__indicators-wrapper___6ncYv {
  width: 650px;
  position: absolute;
  bottom: 0;
  padding: 5px 24px;
  border-top: 1px solid #d0cdcd;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.style__indicators___3BliM {
  width: 250px;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.style__indicators___3BliM li {
  display: inline-block;
  margin-right: 8px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  text-align: center;
  background-color: #9d9ea6;
  cursor: pointer;
  transition: all 0.2s linear;
  font-size: 0;
}
.style__active-indicator___30-uM {
  background: #333 !important;
  width: 12px !important;
  height: 12px !important;
}

/* bootstrap theings */

.carousel {
  position: relative;
}

.carousel.pointer-event {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block;
}

.active.carousel-item-right,
.carousel-item-next:not(.carousel-item-left) {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.active.carousel-item-left,
.carousel-item-prev:not(.carousel-item-right) {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  -webkit-transform: none;
  transform: none;
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: 0s 0.6s opacity;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    transition: none;
  }
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-control-next,
  .carousel-control-prev {
    transition: none;
  }
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50%/100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators li {
    transition: none;
  }
}

.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@-webkit-keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    opacity: 1;
  }
}

@keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    opacity: 1;
  }
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner-grow 0.75s linear infinite;
  animation: spinner-grow 0.75s linear infinite;
}

.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}

.align-baseline {
  vertical-align: baseline !important;
}

.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

.align-text-bottom {
  vertical-align: text-bottom !important;
}

.align-text-top {
  vertical-align: text-top !important;
}

.bg-primary {
  background-color: #007bff !important;
}

.ul_appstore {
  list-style: none;
  margin: 0;
  padding: 0;
}

.google_play {
  background: url("https://res.cloudinary.com/du8msdgbj/image/sprite/v1555479675/footer_desktop_v2_1x.png")
    no-repeat;
  margin-bottom: 12px;
  background-position: 0 -189px;
  width: 136px;
  height: 41px;
}

.apple_store {
  background: url("https://res.cloudinary.com/du8msdgbj/image/sprite/v1555479675/footer_desktop_v2_1x.png")
    no-repeat;
  background-position: 0 -100px;
  width: 136px;
  height: 47px;
}

.facebook {
  background: url(https://res.cloudinary.com/du8msdgbj/image/upload/v1571132241/facebook-rebrand_ocvkak.svg)
    no-repeat;
  width: 27px;
  height: 26px;
  margin-right: 12px;
  margin-bottom: 0;
}

.twitter {
  background: url(https://res.cloudinary.com/du8msdgbj/image/upload/v1571132854/twitter-rebrand_qiai2s.svg)
    no-repeat;
  width: 27px;
  height: 26px;
  margin-right: 12px;
  margin-bottom: 0;
}

.youtube {
  background: url(https://res.cloudinary.com/du8msdgbj/image/upload/v1571737406/youtube_gkbh1t.svg)
    no-repeat;
  width: 26px;
  height: 26px;
  margin-right: 12px;
  margin-bottom: 0;
}

.linkedin {
  background: url(https://res.cloudinary.com/du8msdgbj/image/upload/v1571132397/linkedin-rebrand_tbeedv.svg)
    no-repeat;
  width: 27px;
  height: 26px;
  margin-right: 12px;
  margin-bottom: 0;
}

.medium {
  background: url(https://res.cloudinary.com/du8msdgbj/image/upload/v1601285810/marketing/jf3bry3wl6zzkd14yces.svg)
    no-repeat;
  width: 26px;
  height: 26px;
  margin-right: 12px;
  margin-bottom: 0;
}
