.container1 {
    text-align: center;
    font-family: roboto, sans-serif;
  
}

.container1>div>img {
    text-align: center;
    margin-top:50px;
    width: 150px;
}

/* a {
    background-color: green;
    color: white;
    padding: 5px;
    font-size: 20px;
    border-radius: 6px;
    width: auto;
    border: black;
} */
.container1>div>h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}