*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.add-product-wrapper{
    border: 0px solid green;
    text-align: center;
    width: max-content;
    align-self: center;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.entire{
    border:4px solid red;
   
}

.navbar-cart-count{
    position: absolute;
   
    width: 30px;
    height: 30px;
     background-color: black; color: white;
     padding: 1px;
     text-align: center;
      border-radius: 50%;
       left: 198px; top: -8px; 
}
.buttone{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}


