#container{
    width:80%;
    border:0px solid green;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:40px;
}
.main-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.main-container>div:nth-child(1){
    width: 20%;
}
.sorting{
   border:0px solid green;
    width:98%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.sorting>div{
    border:0px solid red;
    margin-left: 20px;
    margin-right: 20px;
}

#filter{
    border:0px solid red;
    margin-right: 25px;
}
#filter>div:nth-child(1){
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}

.button-topUP{
    position:fixed;
    top:20px;
    left:40px;
    z-index: 20;
}
.page-btn{
    display: flex;
    align-items: center;
}
.page-btn>div{
    font-size: 25px;
    font-weight: 600;
}

@media(max-width:599px){
    #container{
        width:94%;
        border:0px solid green;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap:20px;
        margin: auto;
    }
    #filter{
        border:0px solid red;
        width:80%;
        margin: auto;
    }
    #filter>div:nth-child(1){
        margin-top: 15px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .main-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2px;
    }
    .sorting{
        border:0px solid green;
         width:60%;
         margin: auto;
         display: flex;
         flex-direction: column;
         align-items: center;
     }
}

@media(min-width:600px) and (max-width:1050px){
    #container{
        width:80%;
        border:0px solid green;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:40px;
        margin: auto;
    }
    #filter{
        border:0px solid red;
        width:80%;
        margin: auto;
    }
    #filter>div:nth-child(1){
        margin-top: 25px;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .main-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2px;
    }
    .sorting{
        border:0px solid green;
         width:50%;
         margin: auto;
         display: flex;
         flex-direction: column;
         align-items: center;
     }
}