.style1{
    border:1px solid red;
    width:100%;
    display: flex;
    justify-content: space-around;
    gap:10px;
}

.style2{
    border:1px solid blue;
    width:240px;
}
@media (max-width:599px){
    .style1{
        border: 1px solid blueviolet;
        display: flex;
        flex-direction: column;
    }
    .style2{
        border:1px solid yellow;
        width:90%;
        margin: auto;
    }
}
@media (min-width:600px) and (max-width:880px){
    .style1{
        border: 1px solid blueviolet;
        display: flex;
        flex-direction: column;
    }
    
    .style2{
        border:1px solid yellow;
        width:90%;
        margin: auto;
    }
}
