.style1{
    border:0px solid red;
    width:100%;
    display: flex;
    justify-content: space-around;
    gap:10px;
}

.style2{
    border:0px solid blue;
    width:240px;
}

.recently-heading-div{
    margin-top: -20px;
    font-size: 25px;
    font-weight: 600;
    border: 0px solid red;
    display: flex;
    justify-content: left;
    padding-left: 20px;
}
@media (min-width:1111px){
    
}
@media (max-width:599px){
    .style1{
        border: 0px solid blueviolet;
        width:100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .style2{
        border:0px solid yellow;
        width:90%;
        margin: auto;
    }
}
@media (min-width:600px) and (max-width:850px){
    .style1{
        border: 0px solid blueviolet;
        display: flex;
        flex-direction: column;
    }
    .style2{
        border:0px solid yellow;
        width:90%;
        margin: auto;
    }
    .recently-heading-div{
        padding-left: 30px;
    }
}
@media (min-width:851px) and (max-width:1100px){
    .style1{
        border: 0px solid blueviolet;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:30px;
    }
    
    .style2{
        border:0px solid yellow;
        width:90%;
        margin: auto;
    }
}
