
.Poster{
    width:100%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.lab{
    width:85%;
    margin:auto;
}
.textLeft{
    text-align: left;
    color:#757575;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}